/* F U L L */

* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #040F1A;
}

[typocolor="white"] {
    color: white;
}

[typocolor="orange"] {
    color: #FF8102;
}

[typocolor="gray"] {
    color: gray;
}

[tipography="rubik"] {
    font-family: 'Rubik', sans-serif;
}

[tipography="ibm"] {
    font-family: 'IBM Plex Mono', monospace;
}

/* M A I N   P A G E*/

#welcome-section {
    height: 100%;
    width: 100%;
}

#welcome-section img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* H E A D E R */

header {
    position: fixed;
    display: flex;
    z-index: 2;
    height: auto;
    width: 100%;
    padding-top: 20px;
    width: 90%;
    left: 5%;
}

/* T I T L E */

#title {
    height: 100%;
    width: auto;
}

#title h2 {
    font-family: 'IBM Plex Mono', monospace;
    text-shadow: 0.5vh 0.5vh #0a1529e1;
    font-size: 6vh;
}

/* N A V */

#navbar {
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 60%;
    right: 0;
}

nav ul {
    position: absolute;
    height: auto;
    width: 100%;
    margin-top: 2.5vh;
}
nav ul li {
    display: inline;
    float: right;
    margin-left: 5%;
    text-shadow: 0.5vh 0.5vh #0a1529e1;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    text-shadow: none;
    font-size: 3vh;
}

nav ul li a i {
    margin-right: 0%;
    font-size: 3vh;
    color: #FF8102;
}

nav ul li a b {
    color: #FF8102;
}

@media (max-width: 1075px) {

    h1 {
        font-size: 4.5vh;
    }

}

/* H O M E */

#home {
    position: absolute;
    height:60vh;
    width: 60%;
    top: 40vh;
    left: 20%;
}

#home_page {
    display: inline-block;
    font-family: 'Rubik', monospace;
    text-shadow: 0.5vh 0.5vh #0a1529e1;
    font-size: 3vh;
    height: 20vh;
}

#home_img {
    display: inline-block;
    position: absolute;
    height: 40vh;
    width: 40vh;
    top: -10vh;
    right: -6vh;
}

#home_img img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

@media (max-width: 1540px) {

    #home {
        width: 70%;
        left: 15%;
    }
}

@media (max-width: 1075px) {
    
    #home {
        height:70vh;
        top: 30vh;
    }

    #home_page {
        display: block;
        font-size: 2.4vh;

    }

    #home_img {
        display: block;
        left: auto;
        top: auto;
        margin-top: 5vh;
    }
}

/* A B O U T */

#page_two {
    height: 100vh;
    width: 100%;
}

/* T I T L E */

#about_title {
    position: absolute;
    height: 5vh;
    width: 60%;
    top: 110vh;
    left: 20%;
    font-family: 'Rubik', sans-serif;
    font-size: 4vh;
    text-align: center;
}

#about_title h3 {
    display: inline;
}

/* S T R U C T U R E */

#about {
    display: inline;
    position: absolute;
    height: 70vh;
    width: 60%;
    top: 120vh;
    left: 20%;
    background-color: white;
    opacity: 10%;
    border-radius: 5vh;
}

#about_usable {
    position: absolute;
    height: 70vh;
    width: 60%;
    top: 120vh;
    left: 20%;
}

@media (max-width: 1540px) {
    #about {
        width: 80%;
        left: 10%;
    }

    #about_usable {
        width: 80%;
        left: 10%;
    }
}

/* C O N T E N T */

#about_img {
    position: absolute;
    width: 25%;
    top: 10vh;
    left: 5%;
}

#about_img > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 0.3vh solid white;
}

#about_subtitle_one {
    position: absolute;
    height: auto;
    width: 60%;
    top: 10vh;
    right: 5%;
    font-family: 'IBM Plex Mono', monospace;
    color: #FF8102;
    font-size: 2.5vh;
}

#about_text {
    position: absolute;
    height: auto;
    width: 60%;
    top: 16vh;
    right: 5%;
}

#about_text h3 {
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 3vh;
}

#about_text p {
    font-family: 'IBM Plex Mono', monospace;
    color: gray;
    font-size: 2.5vh;
}

#about_text p b {
    color: #FF8102;
    font-size: 1.5vh;
}

#about_subtitle_two {
    position: absolute;
    height: auto;
    width: 90%;
    top: 50vh;
    left: 5%;
    font-family: 'IBM Plex Mono', monospace;
    color: #FF8102;
    font-size: 2.5vh;
}

#about_skills {
    position: absolute;
    height: 8vh;
    width: 90%;
    top: 57vh;
    left: 5%;
}

#about_skills img {
    height: 100%;
    margin-right: 2%;
    filter: invert(100%);
}

@media (max-width: 1075px) {
    #about_img {
        position: static;
        width: 25%;
        margin: 5% 0 3% 5%;
    }

    #about_subtitle_one {
        position: static;
        width: 90%;
        margin: 0 0 3% 5%;
    }

    #about_text {
        position: static;
        width: 90%;
        margin-left: 5%;
    }

    #about_subtitle_two {
        top: 57vh;
    }

    #about_skills {
        top: 62vh;
    }

    #about_skills img {
        height: 50%;
    }
}

/* W O R K */

#projects {
    height: 100vh;
    width: 100%;
}

/* T I T L E */

#work_title {
    position: absolute;
    height: 5vh;
    width: 60%;
    top: 210vh;
    left: 20%;
    font-family: 'Rubik', sans-serif;
    font-size: 4vh;
    text-align: center;
}

#work_title h3 {
    display: inline;
}

#work_usable {
    position: absolute;
    height: 70vh;
    width: 60%;
    top: 220vh;
    left: 20%;
    background-image: url(./Calcinterescompuesto.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (max-width: 1540px) {
    #work {
        width: 80%;
        left: 10%;
    }

    #work_usable {
        width: 80%;
        left: 10%;
    }
}

/* C O N T A C T */

#page_four {
    height: 14vh;
    width: 100%;
    background-color: #092036;
}

#contact_title {
    position: absolute;
    height: 5vh;
    width: 60%;
    top: 301vh;
    left: 20%;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 4vh;
}

#contact_title h5 {
    display: inline;
}

#contact {
    position: absolute;
    height: 5vh;
    width: 60%;
    top: 305vh;
    left: 20%;
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    text-align: center;
    font-size: 3vh;
}

#contact h6 {
    display: inline;
}

#contact a {
    margin-top: 1vh;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

@media (max-width: 1075px) {
    #page_four {
        height: 17vh;
    }

    #contact h6 {
        display: block;
    }
}
